<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
   <title>股市舆情分析</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3 class="text-center">
        这是一个股市舆情分析的Test<small> beta</small>
      </h3>
      <div class="jumbotron">
        <h1>☁️</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">这个按钮也还不能点</a></p>
      </div>
      <ul class="nav nav-pills nav-justified">
        <li>
           <a href="/">word2vec</a>
        </li>
        <li class="active">
           <a href="/basedic/">基于情感词典统计</a>
        </li>
        <li >
           <a href="#">TF-IDF模型训练</a>
        </li>
        <li >
           <a href="#">朴素贝叶斯情感分析</a>
        </li>
      </ul>

      <h4>
        关于此页
      </h4>
      <p>
        很晚了，先不写说明<br>
      </p>

      <form action="/basedicgraph/"role="form" method="get">
        <div class="form-group">
           <label for="exampleInputEmail1"></label>查询首页<input type="text" class="form-control" name="fpge"id="gettext" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2"></label>查询尾页<input type="text" class="form-control" name="lpge"id="gettext2" />
        </div>
        <div class="form-group">
          <p class="help-block">
          输入要查询的页码范围（注：日期未匹配）<br>
          （注2:测试用，建议首页起查）          </p>
        </div>
        <div class="checkbox">
        </div> <button type="submit" class="btn btn-default">提交</button>
      </form>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="progress">
        <div class="progress-bar progress-success">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
