<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
   <title>股市舆情可视化</title>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <script src="../static/js/StockVisual/echarts.js"></script>
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">股市舆情可视化</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="active nav-item"><a class="nav-link" href="/"><span class="oi oi-bar-chart"></span> 历史交易行情</a></li>
        <li class="nav-item"><a class="nav-link" href="/wordcloud"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> 股票舆情云图</a></li>
        <li class="nav-item"><a class="nav-link" href="/dicopinion"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 情感字典舆情统计</a></li>
        <li class="nav-item"><a class="nav-link" href="/nbopinion"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> 机器学习舆情预测</a></li>
    </ul>
</div>
</nav>


    
</body>
</html>
